body{
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	width: 100%;
}
#seckill-body{
	width: 100%;
}
.top-fixed{
	position: fixed;
	z-index: 99;
}
.header-title {
	width: 100%;
	margin: 0 0;
	text-align: center;
	height: 44px;
	line-height: 44px;
	font-size: 16px;
	background-color: rgb(239, 239, 239);
	border-bottom-color: rgb(191, 191, 191);
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.weui_cell_hd img{
	width:100px;
	height: 100px;
	position: relative;
	display:inline-block
}
.weui_cells{
	margin-top: 0px;
}
.weui_cell {
}

.slide-container {
	width: 100%;
	font-size: 0px;
}

.weui_cell_hd {
	height: 100px;
	width: 100px;
}
.weui_cell{
	padding: 15px 15px;
}
.weui_cell_content {
	height: 100px;
	padding-left: 5px;
	width: 70%;
}

.seckill-dis {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height:40%;
	
}

.skill-content {
	font-size: 14px;
}
.seckill-list{
	width: 100%;
}
.seckill_inf {
	height: 50%;
}

.seckill_price_button {
	height: 60%;
	font-size: 14px;
}

.seckill_price {
	display: inline-block;
	width: 50%;
	padding: 3px 0px;
	color: #f23030;
	font-size: 16px;
}
.price{
	font-weight: bold;
}
.seckill_button {
	display: inline-block;
	width: 35%;
	float: right;
	text-align: center;
	border: 1px solid #f15353 ;
	padding: 3px 0px;
	background-color: #f23030;
	color: #fff;
	
}

.seckill_dprice_remain {
	height: 40%;
	position: relative;
	font-size: 12px;
	color:#848689 ;

}

/*.seckill_dprice {*/
	/*width: 20%;*/
	/*display: inline-block;*/
/*}*/


.weui_progress {
	position: absolute;
	right: 0px;
	top: 20%;
	width: 60%;
	display: inline-block;
	border: solid 1px #f36262;
	box-sizing: border-box;
}

.weui_progress_bar {
	height: 6px;
}

.weui_progress_inner_bar {
	background-image: linear-gradient(to right, #f23434,#f67373);
}
.sale_count{
	display: inline-block;
	width: 40%;
	text-align: left;
}
.seckill_background_grey{
	background-color:#fff;
	color:#f15353;
}